.SmallSlide
{
    position: relative;
    width: 200px;
    height: 125px;
    border: solid 1.5px rgb(170, 170, 170);
    border-radius: 10px;
}
.SmallSlideSelect
{
    position: relative;
    width: 200px;
    height: 125px;
    border: solid blue 3px;
    border-radius: 10px;
    
}

.Slides {
    margin: 50px auto; 
}